<% if flash[:warning] && flash[:warning].count > 0 %>
    <div class="warning"><%= safe_join(flash[:warning], "<br>".html_safe) %></div>
    <br>
<% end %>
<div class="warning">You can use HTML tags in the post content</div>

<!-- operation variable is passed when rendering this partial :operation => "OPERATION" -->
<% if operation == "edit" %>
    <%= form_for :post, :url => update_post_path(params[:id]) do |f| %>
        <%= f.text_field :title, :value => @post.title, class: "login-input", placeholder: "Enter post title", style: "margin-top: 1em;" %>
         <%= f.text_area :content, :value => @post.content, class: "signature-textarea", placeholder: "Enter post content", style: "margin-top: 1em; width: 100%; max-width: 100%;", :rows => 18 %>
         <%= f.submit "Save", class: "login-button", style: "margin-top: 0.5em;" %>
    <% end %>
<% else %>
    <%= form_for :post, :url => create_post_path do |f| %>
        <%= f.text_field :title, class: "login-input", placeholder: "Enter post title", style: "margin-top: 1em;" %>
        <%= f.text_area :content, class: "signature-textarea", placeholder: "Enter post content", style: "margin-top: 1em; width: 100%; max-width: 100%;", :rows => 18 %>
        <br>
        <%= f.submit "Add", class: "login-button", style: "margin-top: 0.5em;" %>
    <% end %>
<% end %>