<div style="height: auto;overflow: hidden;padding: 10px;margin-bottom: 2em">
    <div class="post-info" style="text-align: center">
    	<% if index %>
	        <%= link_to "#{post.title}", post_path(post.id), :id => "post-title" %>
        <% else %>
        	<p id="post-title"><%= "#{post.title}" %></p>
        <% end %>
        <br>
        <br>
        <% date = post.updated_at.to_time.strftime('%B %e at %l:%M %p') %>
        <p id="post-date-member"><%= "#{date} by #{User.find(post.user_id).name}" %></p>
        <br>
        <%count = post.comments.count%>
        <%string = pluralize(count, 'comment')%>
        <p id="post-comments"> <%= "#{string}" %> </p>
        <% if post.created_at != post.updated_at %>
            <p id="post-comments" style="font-size: 12px; width: 20%;margin-top: 0.3em"> <%= "Edited" %> </p>
        <% end %>
        <br>
        <!-- <div class="g-plus" data-action="share" data-annotation="bubble" data-href=<%= "http://www.facebook.com#{post_path(post.id)}" %>></div>
        <br>
        <br>
        <div class="fb-share-button" data-href=<%= "http://www.facebook.com#{post_path(post.id)}" %> data-layout="button_count"></div> -->
    </div>
    <div class="post-content">
        <% content = post.content + "<br><br> #{User.first.signature}" if not User.first.signature.blank? %>
        <% content = post.content if User.first.signature.blank? %>
        <%= simple_format(content) %>
    </div>
</div>