<!-- BLOG PAGE -->
<!-- <button type="button" class="list-posts">Add Post</button> -->
<!-- <span><%# button_to "Add Post", new_post_path(params[:id]), class: "list-posts", method: :get %></span> -->
<% if Category.count > 0 && Post.count > 0 %>
    <div class="categories-div" style="width: 100%;display: none">
        <h3 id="container-meet">Filter by Categories</h1><br><br>
        <%= form_for :category, :url => filter_posts_path do |f| %>
            <% categories = Category.all %>
            <% categories.each do |category| %>
                <%= f.check_box category.id, {:checked => CategoryPost.exists?(:post_id => params[:id], :category_id => category.id)} %>
                <font style="margin-right: 0.5em"><%= "#{category.name}" %></font>
            <% end %>
            <%= f.submit 'Filter', class: "list-posts", style: "float: right;color: white" %>
        <% end %>
    </div>
     <br>
    <button type="button" class="list-posts" id="list-posts" style="float: right">Filter Posts</button>
<% end %>
<br><br>
<div style="position: relative;z-index: 2">
    <% @posts.each do |post| %>
<!--     <div style="height: auto;overflow: hidden;padding: 10px;margin-bottom: 2em">
        <div class="post-info" style="text-align: center">
            <%= link_to "#{post.title}", post_path(post.id), :id => "post-title" %>
            <br>
            <br>
            <% date = post.updated_at.to_time.strftime('%B %e at %l:%M %p') %>
            <p id="post-date-member"><%= "#{date} by #{User.find(post.user_id).name}" %></p>
            <br>
            <%count = post.comments.count%>
            <%string = pluralize(count, 'comment')%>
            <p id="post-comments"> <%= "#{string}" %> </p>
            <% if post.created_at != post.updated_at %>
                <p id="post-comments" style="font-size: 12px; width: 20%;margin-top: 0.3em"> <%= "Edited" %> </p>
            <% end %>
        </div>
        <div class="post-content">
            <% content = post.content + "<br><br> #{User.first.signature}" if not User.first.signature.blank? %>
            <% content = post.content if User.first.signature.blank? %>
            <%= simple_format(content) %>
        </div>
    </div> -->

    <!-- This following line replaced the whole commented div block before it. It is called a partial -->
    <%= render '/layouts/post', :post => post, :index => true %>
<% end %>
</div>

<style type="text/css">
    .box{
        z-index: 1;
        top: 11em;
        position: fixed;
        width: 100;
    }
</style>