<!-- POST PAGE -->
<% if logged_in? && @current_user.is_admin %>
    <div style="display:inline;">
        <button type="button" class="delete-post ask-delete" style="float:right">Delete Post</button>
        <%= button_to "Edit Post", edit_post_path(@post.id), class: "delete-post", style: "float:right;margin-right: 1em;", method: :get %>
    </div>
<% end %>

<br><br>
<!-- <div style="height: auto;overflow: hidden;margin-bottom: 5em">
    <div class="post-info" style="text-align: center">
        <p id="post-title"><%= "#{@post.title}" %></p>
        <br>
        <% date = @post.updated_at.to_time.strftime('%B %e at %l:%M %p') %>
        <p id="post-date-member"><%= "#{date} by #{User.find(@post.user_id).name}" %></p>
        <br>
            <%count = @post.comments.count%>
            <%string = pluralize(count, 'comment')%>
            <p id="post-comments"> <%= "#{string}" %> </p>
        <% if @post.created_at != @post.updated_at %>
            <p id="post-comments" style="font-size: 12px; width: 20%;margin-top: 0.3em"> <%= "Edited" %> </p>
        <% end %>
    </div>
    <div class="post-content">
        <% content = @post.content + "<br><br> #{User.first.signature}" if not User.first.signature.blank? %>
        <% content = @post.content if User.first.signature.blank? %>
        <%= simple_format(content) %>
    </div>
</div> -->

<!-- This following line replaced the whole commented div block before it. It is called a partial -->
<%= render '/layouts/post', :post => @post, :index => false %>


<% comments = @post.comments %>
<div class="post-comments">
    <h3 id="container-meet">Comments</h1>
    <% if logged_in? %>
        <%= form_for :comment, :url => post_comment_path do |f| %>
            <%= f.text_field :content, class: "comment_input", placeholder: "Add a new comment", style: "float:left;margin-bottom: 1em" %>
        <% end %>
    <% end %>
    <% comments.each do |comment| %>
        <% if comment.comment.count == 0 %>
                <div class="post-comment">
                    <strong><span><%= "#{comment.user.name}" %></span></strong><span><%= link_to 'Delete', delete_comment_path(comment.id), class: "delete-post", style: "color:white;float:right;text-align:center", method: :delete if logged_in? && (@current_user.is_admin || comment.user_id == @current_user.id)%></span>
                    <br>
                    <% content = comment.content + "<br><br> <i>#{comment.user.signature}</i>" if not comment.user.signature.blank? %>
                    <% content = comment.content if comment.user.signature.blank? %>
                    <p style="word-wrap: break-word"><%= simple_format(content) %></p>
                    <hr style="margin-top: 0.4em; border-color: rgba(255, 30, 30, 0.65);; border-width: 1px"></hr>
                    <br>
                    <% replies = comment.replies %>
                    <% replies.each do |reply| %>
                        <div class="comment-reply" style="margin-bottom: 1em">
                            <strong><span><%= "#{reply.user.name}" %></span></strong><span><%= link_to 'Delete', delete_comment_path(reply.id), class: "delete-post", style: "color:white;float:right;text-align:center", method: :delete if logged_in? && (@current_user.is_admin || comment.user_id == @current_user.id)%></span>
                            <br>
                            <% content = reply.content + "<br><br> <i>#{comment.user.signature}</i>" if not comment.user.signature.blank? %>
                            <% content = reply.content if comment.user.signature.blank? %>
                            <p style="word-wrap: break-word"><%= simple_format(content) %></p>
                        </div>
                    <% end %>
                    <% if logged_in? %>
                        <%= form_for :reply, :url => post_reply_path(@post.id,comment.id) do |r| %>
                            <%= r.text_field :content, class: "reply_input", placeholder: "Reply to this comment", style: "margin-top: 1em;" %>
                         <br>
                        <% end %>
                    <% end %>
                </div>   
        <% end %>
    <% end %>
</div>

<!-- Delete Post Alert Box -->

<div class="dimmer display-none">
    <div class="alert-view">
        <p>Are you sure?</p>
        <div style="top: 30%; position: relative;width: 100%;">
            <%= button_to "Yes", delete_post_path(params[:id]), class: "delete-post", style: "width: 40%", method: :delete %>
            <%# button_to "Cancel", edit_post_path(params[:id]), class: "delete-post", style: "width: 40%", method: :get %>
            <button type="button" class="delete-post cancel-delete" style="width: 40%">Cancel</button>
        </div>
    </div>
</div>


