<div class="categories index">
  <h2>Categories</h2>

  <%= link_to("Add New Category", {:action => 'new'}, :class => 'action new') %>
    </br></br>
  <table class="listing" summary="Category list">
    <tr class="header">
      <th>&nbsp;</th>
      <th>Category</th>
      <th>Actions</th>
    </tr>
    <% @categories.each do |category| %>
    <tr>
      <td><%= check_box_tag(:name) %></td>
      <td><%= category.name %></td>
      <td class="actions">
        <%= link_to("Edit", {:action => 'edit', :id => category.id}, :class => 'action edit') %>
        <%= link_to("Delete", {:action => 'delete', :id => category.id}, :class => 'action delete') %>
      </td>
    </tr>
    <% end %>
  </table>
  </br></br>
  <div class="form-buttons">
      <%= submit_tag("Submit") %>
    </div>
</div>
